/* ------------CSS Reset------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* ------------Navbar------------ */
/* ----------------------------------------MY ADDED SECTION---------------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.logo {
    font-size: 65px;
    color: #151414;
    font-weight: 700;
}

.bold {
    color: rgb(241, 91, 34);
}

.items {
    display: flex;
}

.menu-item {
    cursor: pointer;
    margin-right: 5px;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 15px;
}

.last {
    margin-right: 0;
}

ul {
    list-style: none;
}

/* ----------------------------------------MY ADDED SECTION ENDS---------------------------------------- */

/* ------------Header------------ */
header {
    background-image: url(../images/banner/banner1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    text-align: end;
    margin-bottom: 130px;
}

.header-items {
    width: 60%;
    margin-left: auto;
    padding: 50px 100px 100px 100px;
}

.header-heading {
    font-size: 65px;
    color: #151414;
    font-weight: 700;
}

.header-text {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 30px;
}

button {
    cursor: pointer;
}

.primary-btn {
    padding: 20px 25px;
    background-color: rgb(241, 91, 34);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* ------------First Section------------ */
.first-section {
    width: 80%;
    margin: 0 auto 130px;
}

.section-contaier {
    display: flex;
    justify-content: space-between;
}

.image-text {
    margin: auto 0;
    padding: 0 5%;
}

.image-h {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.image-p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.image-text ul {
    color: #444343;
}

.image-text li {
    line-height: 25px;
}

.check {
    width: 15px;
    margin-bottom: -2.5px;
}

/* ---------------Plans Section--------------- */
.plans {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}

.icon {
    width: 92.96px;
    height: 92.96px;
}

.icon-head {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.icon-desc {
    color: #151414;
    font-weight: 500;
    font-size: 25px;
}

/* ------------Lower Banner------------ */
.lower-banner {
    width: 80%;
    margin: 130px auto;
}

.lower-banner-container {
    background-image: linear-gradient(
            90deg,
            rgba(241, 93, 34, 0.781),
            rgba(255, 255, 255, 0)
        ),
        url(../images/watch.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding-top: 59px;
    padding-bottom: 59px;
    padding-left: 64px;
}

.secondary-btn {
    padding: 20px 36px;
    background-color: white;
    color: rgb(241, 91, 34);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 24px;
}

.banner-header {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}

/* -----------------Footer----------------- */
footer {
    height: 577px;
    background: #151414;
    color: #f8f8f8;
    display: flex;
    padding: 130px 230px 0 230px;
}

.contact-info {
    padding-right: 180px;
}

.socials {
    display: flex;
}

.footer-header {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}

footer .secondary-btn {
    margin-top: 16px;
}

.middle {
    margin-left: 18px;
    margin-right: 18px;
}

.subscribe {
    margin-left: 100px;
}

.subscribe-heading {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
}

input {
    font-weight: 400;
    font-size: 18px;
    border-color: white;
    padding: 21px;
    width: 300px;
    border-radius: 8px;
    background-color: #151414;
    color: #f3f3f3;
}

/* Searched in google 'how to change color of input placeholder' and found this in stackoverflow */
input::placeholder {
    color: #f3f3f3;
}
